
.carousel-image {
    transition: opacity 0.5s ease-in-out; 
    opacity: 0;                            
  }
  
  .carousel-image.active {
    opacity: 1;                      
  }
  
.event-text .split-char{
  font-size: 40px;
  font-weight: 550;
  margin-bottom: 2rem;
  }